/* Init */

:root {
    --border-color: #ffffff;
    --background-color: #ffffff66;
    --text-color: #666666;

    --text-yellow-color: linear-gradient(180deg, #ffffff 30%, #fffc95 50%, #ffd071 76%);
    ;

    --padding-size: 10px;
    --half-padding-size: calc(var(--padding-size) * 2);
}

/* Fonts */

@font-face {
    font-family: 'UmaFont';
    src: url("fonts/umafont.otf");
}

@font-face {
    font-family: 'SourceSans';
    src: url("fonts/SourceHanSansSC-VF.otf");
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-M.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-B.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-EB.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-L.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-M.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-R.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-B.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-DB.ttf");
    font-weight: 900;
}

@font-face {
    font-family: 'UDKakugo->RodinPro';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-DB.ttf");
    font-weight: 900;
    unicode-range: U+0041-005A, U+0061-007A;
}


@font-face {
    font-family: 'UDKakugoC80';
    src: url("fonts/UDKakugo/FOT-UDKakugoC80-Pro-B.ttf");
}

/* Styles */

body {
    font-family: 'UDKakugo';
    font-weight: 500;
    color: var(--text-color);

    background-image: url("icons/bg/bg.png");
    background-size: contain;
    place-items: anchor-center;
}

.yellowText {
    font-family: 'UDKakugo->RodinPro', 'RodinPro';
    font-weight: 900;
    font-size: 50px;
    color: transparent;
    transform: skewX(350deg);
    letter-spacing: -0.075em;
    padding-right: 0.25em;
    -webkit-text-stroke-width: 0.025em;
    background-image: var(--text-yellow-color);
    background-repeat: repeat-x;
    background-clip: text;
    filter:
        drop-shadow(0 0 0.035em #862d2dbb) drop-shadow(0 0 0.035em #862d2dbb) drop-shadow(0em 0em 0.0em #ffffff) drop-shadow(0.025em 0.05em 0.025em #aa682f) brightness(1.2);
    text-shadow: 0px 0px 0em rgb(255 0 0 / 16%);
}

.container {
    border-radius: 10px;

    background: #ffffff80;

    border: solid 2px var(--border-color);
    backdrop-filter: blur(10px);

    width: fit-content;
    height: fit-content;

    padding-left: var(--half-padding-size);
    padding-right: var(--half-padding-size);
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
}