/* Init */

:root {
    --border-color: #00000066;
    --background-color: #ffffff;
    --text-color: #666666;

    --padding-size: 10px;
    --half-padding-size: calc(var(--padding-size) * 2);
}

/* Fonts */

@font-face {
    font-family: 'UmaFont';
    src: url("fonts/umafont.otf");
}

@font-face {
    font-family: 'SourceSans';
    src: url("fonts/SourceHanSansSC-VF.otf");
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-M.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-B.ttf");
    font-weight: 600;
}

@font-face {
    font-family: 'RodinPro';
    src: url("fonts/RodinPro/FOT-RodinPro-EB.ttf");
    font-weight: 800;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-L.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-M.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-R.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-B.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'UDKakugo';
    src: url("fonts/UDKakugo/FOT-UDKakugo_Large-Pr6N-DB.ttf");
    font-weight: 900;
}


@font-face {
    font-family: 'UDKakugoC80';
    src: url("fonts/UDKakugo/FOT-UDKakugoC80-Pro-B.ttf");
}

/* Styles */

body {
    font-family: 'UDKakugo';
    font-weight: 500;
    color: var(--text-color);

    background-image: url("icons/bg/bg.png");
    background-repeat: repeat-y;
    place-items: anchor-center;
}

.container {
    border-radius: 10px;

    background: #ffffff80;

    border: solid 2px var(--border-color);
    backdrop-filter: blur(10px);

    width: fit-content;
    height: fit-content;

    padding-left: var(--half-padding-size);
    padding-right: var(--half-padding-size);
    padding-top: var(--padding-size);
    padding-bottom: var(--padding-size);
}