@font-face {
    font-family: 'UmaFont';
    src: url("fonts/umafont.otf");
}

@font-face {
    font-family: 'SourceSans';
    src: url("fonts/SourceHanSansSC-VF.otf");
}

body {
    font-family: SourceSans;
}